# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log
*.tmp

# Environment files
.env

# Build artifacts
build/
dist/
*.egg-info/
